### Compiled files ###
*.class
*.jar
*.war
*.ear

HELP.md
### Gradle files ###
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.idea_modules/
!**/src/main/**/out/
!**/src/test/**/out/

### Logs & Temp files ###
logs/
*.log
*.tmp
hs_err_pid*
!src/main/resources/logback.xml

### MacOS & Linux ###
.DS_Store
*.swp
*.swo
*.swn

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
*.kts~
*.kt~
*.kotlin_metadata/
*.kotlin_module
.kotlin

### Spring Boot Env var files ###
.env
.evn.local
*.secrets

### Docker ###
docker-compose.override.yml
docker-compose.dev.yml
*.dockerignore
.docker/

### PostgreSQL & Redis file
pgdata/
redisdata/

### Node.js (if include front-end in project) ###
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

### Kubernetes ###
k8s/

### etc and os temp files
Thumbs.db